@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.containerLogo{
    width: 100px;
    height: 100px;
    background: darkblue;
    margin: 40px auto;
    overflow: hidden;
}

.logoPrimal{
    width: 90px;
    padding-top: 20px;
    margin: 0 auto -10px;
    display: block;
    z-index: 0;
    animation: logoPri 5s infinite;
}


.logoPrimal:hover .footer-logo-top-label{
    position: relative;
    margin: 0 auto 12px;
    font-size: .875em;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    transition: all .3s ease;
}


.containerText{
    width: 100%;
    display: grid;
    place-items: center;
}

.textoW2{
    display: inline;
    white-space: nowrap;
    border-right: 4px solid;
    animation: blink 0.5s infinite step-end alternate;
}


.textoW{
    display: flex;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;
    font-size: 3.7rem;

    animation: typing 2s infinite alternate steps(24);
    overflow: hidden;
}

@keyframes logoPri{
    0%{
        transform: translateX(-290px);      
    }
    30%{
        transform: translateX(290px) rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
    100%{
        transform: translateX(-290px);
        
    }
}

@keyframes logoPrim{
    0%{
        transform: translateX(-70px);      
    }
    30%{
        transform: translateX(70px) rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(10deg);
    }
    100%{
        transform: translateX(-70px);
        
    }
}

@media screen and (max-width: 650px){
    .logoPrimal{
        animation: logoPrim 5s infinite;
    }
}


.navb{
    background: none;
}    

.navb{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


@keyframes typing{
    from {width: 0;}
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

@media (max-width:992px){
    .containerText.scrolled{     
        background: none;
    }
}

.bar__menu{
    width: 55px;
    height: 35px;
    cursor: pointer;
    outline: none;
}

.bar__menu span{
    margin-bottom: 6px;
    display: block;
    width: 30px;
    height: 2px;
    background: white;
    transform-origin: 0px 100%;
    margin-top: 6px;
    transition: all 600ms;
}
.activeline1__bars-menu{
    transform: rotate(40deg) translateX(6px) translateY(-5px) translateX(-5px); 
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translateX(-2px) translateY(5px) translateX(5px);

}

@media screen and (max-width: 335px){
    .bar__menu{
        transform: translateX(-20px);
    }
}

.container__background-f1{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    background: black;
    position: absolute;
    left: 50%;
}
.figura{
    width: 250px ;
    height: 250px;
    background: red;
    position: absolute;
    transform: rotate(45deg);

}

.f1{
    width: 100px;
    height: 100px;
    background: linear-gradient(to left, #0ea1e6, #1e67c7);
    right: 10px;
    top: 100px;
    animation: f1 30s ease infinite;
}
.f2{
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, #ee8150, #c7371e);
    right: 500px;
    top: 50px;
    animation: f2 30s ease infinite;
}
.f3{
    width: 120px;
    height: 120px;
    background: linear-gradient(to left, #ee8150, #c7371e);
    left: 300px;
    top: 30px;
    animation: f3 30s ease infinite;
}
@keyframes f1{
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes f2{
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes f3{
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}
.container__cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}
.__card{
    width: 280px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}


.cover__card{
    width: 100%;
    height: 200px;
    border-radius: 14px;
    overflow: hidden;
}
.__card:hover{
    transform: translateY(-10px);
    transition: all 300ms;
}


.__card:hover .cover__card img{
    transform: scale(1.1);
}



.cover__card img{
    width: 70%;
    margin-left: 37px;
    transition: all 300ms;
    
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width: 819px){
    .container__cards{
        position: relative;
        top:0;
        left:0;
        transform: none;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .f1{
        width: 100px;
        height: 100px;
        background: linear-gradient(to left, #0ea1e6, #1e67c7);
        left: 50px;
        top: 100px;
        animation: f1 9s ease infinite;
    }
    .f2{
        width: 150px;
        height: 150px;
        background: linear-gradient(to left, #ee8150, #c7371e);
        right: 10px;
        top: 400px;
        animation: f2 9s ease infinite;
    }
    .f3{
        width: 120px;
        height: 120px;
        background: linear-gradient(to left, #ee8150, #c7371e);
        right: 10px;
        top: 700px;
        left: 10px;
        animation: f3 7s ease infinite;
    }
}

/*---------------index cards-----------------------------*/
.container__cardsI{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
}
.__cardI{
    width: 350px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}



.__cardI:hover{
    transform: translateY(-10px);
    transition: all 300ms;
}


.__cardI:hover .cover__cardI img{
    transform: scale(1.1);
}

.cover__cardI{
    width: 100%;
    height: 220px;
    border-radius: 14px;
    overflow: hidden;

}

.cover__cardI i{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background:-moz-linear-gradient(right,#000000, #D31027 100%);
    background:-webkit-linear-gradient(right, #000000, #D31027 100%);
    background:linear-gradient(to left, #000000, #D31027 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    color: #ff0029;
    font-size: 10rem;
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

/*---------------------------------------------------------------- menu ---------------------------------------*/

/*nav{
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.__body{
    margin-left: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}*/

.menu__side{
    display: block;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    width: 420px;
    height: 100%;
    top: 0;
    left: 0;      
    transform: translateX(-420px);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 2;
}

.menu__side__move{
    transform: translateX(0px);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side::-webkit-scrollbar{
    display: none;
}

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header__menu{
    padding: 40px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header__menu i{
    width: 20px;
    margin-right: 20px;   
}

.options__menu{
    padding: 90px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.option a:hover{
    color: white;
}

.options__menu .option{
    padding: 35px 0px;
    display: flex;
    align-items: center;
    position: relative;
    
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

i.selected{
    color: #fff;   
}

.selected:before{
    content: '';
    width: 3px;
    height: 10%;
    background: white;
    position: absolute;
    top: 95px;
    left: 0px;
}

/*.body__move{
    margin-left: 250px;

}

.menu__side_move{
    width: 250px;
}

.navbar__move{
    margin-left: 250px;
}

@media screen and (max-width: 820px){
    .body__move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }

    .navbar__move{
        margin-left: 0px;
    }
    
}*/


.burger__menu{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger__menu i{
    font-size: 30px;
    cursor: pointer;
}

.burger__menu i:hover{
    color: white;
}

/*---------------footer cards-----------------------------*/

.container__cards__footer{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
    
}
.__card__footer{
    width: 100px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}


.__card__footer:hover{
    transform: translateY(-10px);
    transition: all 300ms;
}


.__card__footer:hover a{
    transform: scale(1.1);
}

.cover__card__footer{
    margin: 10px;
    position: relative;
    border-radius: 14px;
}

.__card__footer a{
    cursor: pointer;
    width: 100%;
    transition: all 300ms;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

/*--------------------------------------------------parallax effect--------------------------------------*/

.container_parallax_1{
    padding: 40px 30px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position:relative;
}
.__parallax_1{
    width: 300px;
}
.container__text{
    width: 50%;
    margin: auto;
    align-items: center;
    position:relative;
}
.__text{
    font-size: 18px;
    text-align: center;
    color: white;   
}

.__parallax_1:hover{
    transform: translateY(-10px);
    transition: all 300ms;
}


.__parallax_1:hover img{
    transform: scale(1.1);
}

#element_one{
    width: 100%;
    position: relative;

    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,1));
}

/*--------------------------------- 2 ----------------------------------------*/

.container_parallax_2{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position:relative;
}

.__parallax_2{
    width: 300px;
}

.__parallax_2:hover{
    transform: translateY(-10px);
    transition: all 300ms;
}


.__parallax_2:hover img{
    transform: scale(1.1);
}


#element_two{
    position: relative;
    width: 100%;

    filter: drop-shadow(40px 0px 30px rgba(0,0,0,1));
}

@media screen and (max-width: 500px){
    .container_parallax_1{
        justify-content: center;
    }
    .container_parallax_2{
        justify-content: center;
    }
    .__parallax_1{
        width: 200px;
    }
    .__parallax_2{
        width: 200px;
    }
}

/*--------------------------------------------------- navbar footer ------------------------------------------*/

#nav__footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin: auto;
}
#nav__footer a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color:#a0a0a0;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin: 0 50px 0 ;
    padding: 10px;
}
#nav__footer a:after{
    content: '';
    position: absolute;
    background-color: #1e67c7;
    border-radius: 20px;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
#nav__footer a:hover{
    color: #ffffff;
}

#nav__footer a:hover:after{
    width: 100%;
    background-color: #ff0029;
    
}



