.footer__contacts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position:relative;
  }
  
.footer__contacts .footer__contacts__d{
    list-style: none;
  }
  
.footer__contacts .footer__contacts__d a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 20px 35px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
.footer__contacts .footer__contacts__d a i{
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }

.footer__contacts .footer__contacts__d a:hover i{
    color: #fff;
    transform: rotateY(360deg);
  }
  
.footer__contacts__d a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
.footer__contacts .footer__contacts__d a:hover:before {
    top: 0;
  }
  
.footer__contacts .footer__contacts__d:nth-child(1) a:before{
    background: #4267B2;
  }
  
.footer__contacts .footer__contacts__d:nth-child(2) a:before{
    background: #1DA1F2;
  }
  
.footer__contacts .footer__contacts__d:nth-child(3) a:before {
    background: linear-gradient(to right top,#FCAF45,#C13584 50%,#5851D8);
  }
  
.footer__contacts .footer__contacts__d:nth-child(4) a:before {
    background: #FF4500;
  }

.footer__contacts .footer__contacts__d:nth-child(5) a:before {
    background: #25D366;
}