.iconlgi:focus,
.iconlgi:hover{
    object-fit: contain;
    transform: scale(1.05) translateZ(0px);
}



.iconsm:focus,
.iconsm:hover{
    width: 1.9rem;
    height: 1.9rem;
    object-fit: contain;
    transform: scale(1.2) translateZ(0px);
}

.iconlg:focus,
.iconlg:hover{
    width: 1.9rem;
    height: 1.9rem;
    object-fit: contain;
    transform: scale(1.05) translateZ(0px);
}


.raiseLogo:focus,
.raiseLogo:hover{
    transform: scale(1.15);
    transition: all .3s ease;
}




