@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//db.onlinewebfonts.com/c/b207fae73e1bde668238f6d9d0598cc9?family=GT+Sectra+Display+Medium');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GT Sectra Display',serif;
}

.container__3d{
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 3.5em;
  -webkit-perspective: 3.5em;
  -ms-perspective: 3.5em;
  -moz-perspective: 3.5em;
}
.card__father{
    margin-top: 50px;
    margin: 20px;
    perspective: 1000px;
    -webkit-box-reflect: below 15px linear-gradient(transparent, transparent, rgba(0,0,0,0.2));
}

.card__father:hover .tarjeta__3d{
    transform: rotateY(180deg);
}

.tarjeta__3d{
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}
/*¡Mira! Ya estoy a la puerta, y llamo. Si alguno oye mi voz y abre la puerta, yo entraré en su casa, y cenaré con él, y él cenará conmigo.*/

.card__front{
    background-size: cover;
    background-position: center;
}

.card__front,
.card__back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}
.card__back{
    transform: rotateY(180deg);
    background: white;
    /*box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);*/
}

.body__card__front{
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card__back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
    overflow: hidden;
}

.body__card__back p{
    margin-top: 20px;
    font-size: 15px;
}

/*.body__card__back a{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    width: 50%;
    height: 40px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: ease-in-out 300ms;
    overflow: hidden;
    z-index: 2;
}

.body__card__back a::after{
    content: '';
    width: 100%;
    position: absolute;
    z-index: 1;
    left: calc(-100% - 40px);
    border-right: 40px solid transparent;
    border-bottom: 40px solid #D31027;
    transition: all 400ms ease-in-out;
}


.body__card__back a:hover::after{
    left:0;
    /*box-shadow: 1px 1px 30px 0px #D31027;
}*/

/*-------------------------------- project -------------------------*/
/*.container__3d{
    max-width: 1200px;
    margin: auto;
    background: #b88888;
    margin-top: 100px;
  }
  .card__father{
    *margin: 20px;
  }
  
  .card__father:hover .tarjeta__3d{
      transform: rotateY(180deg);
  }
  
  .tarjeta__3d{
    width: 350px;
    height: 400px;
    background: #000000;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .card__front,
  .card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  .card__back{
      transform: rotateY(180deg);
      background: white;
  }*/
/*.grid{
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
}

.row__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex__fx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

@media screen and (max-width:800px){
    .flex__fx{
        gap: 40px;
    }
}

.container__words{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container__father{
    font-family: 'GT Sectra Display Medium',serif;
    font-weight: 700;
    font-style: normal;
    fill: #fff;
    color: #fff;
    font-size: 4rem;
    letter-spacing: .04em;
    line-height: .8916666667;
}
.card__father__Fx{
    margin: 20px;
    perspective: 1000px;

}
.words_fx{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}*/
/*-----------------------------------------------energy button------------------------------*/



.container__btn{
    
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 5px 30px;
    border: 2px solid #58B0F6;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}
.container__btn a:hover{
    transition-delay: 1.5s;
    /*box-shadow: 0 0 10px #58B0F6,
    0 0 20px #58B0F6,
    0 0 40px #58B0F6,
    0 0 80px #58B0F6,
    0 0 160px #58B0F6;*/
}

.container__btn a span{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 100;
}

.container__btn a:nth-child(2){
    filter: hue-rotate(80deg);
}
.container__btn a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #58B0F6;
    box-shadow: 5px -8px 0 #58B0F6,
                5px 8px 0 #58B0F6;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1, 0.5s, 0s, 0s;
}
.container__btn a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #58B0F6,
                5px 0 0 #58B0F6;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.container__btn a::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #58B0F6;
    box-shadow: -5px -8px 0 #58B0F6,
                -5px 8px 0 #58B0F6;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1, 0.5s, 0s, 0s;
}
.container__btn a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #58B0F6,
                -5px 0 0 #58B0F6;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.title__style__LS h2{
    font-family: 'League Spartan', sans-serif;
}
.title__style__LS{
    font-family: 'League Spartan', sans-serif;
}

/*---------------------------------------------------hover logo primal ---------------------------------------*/

.logo__hover{
    transition: all 300ms ease-in-out;
}

.logo__hover:hover{
    transform: scale(1.15);
    transition: all 300ms ease;
}

/*--------------------------------------------------hover letras---------------------------------------------------*/
