@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//db.onlinewebfonts.com/c/b207fae73e1bde668238f6d9d0598cc9?family=GT+Sectra+Display+Medium');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans',sans-serif;
}

.container__3d{
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 3.5em;
  -webkit-perspective: 3.5em;
  -ms-perspective: 3.5em;
  -moz-perspective: 3.5em;
}
.card__father{
    margin-top: 50px;
    margin: 20px;
    perspective: 1000px;
    -webkit-box-reflect: below 15px linear-gradient(transparent, transparent, rgba(0,0,0,0.2));
}

.card__father:hover .tarjeta__3d{
    transform: rotateY(180deg);
}

.tarjeta__3d{
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}
/*¡Mira! Ya estoy a la puerta, y llamo. Si alguno oye mi voz y abre la puerta, yo entraré en su casa, y cenaré con él, y él cenará conmigo.*/

.card__front{
    background-size: cover;
    background-position: center;
}

.card__front,
.card__back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}
.card__back{
    transform: rotateY(180deg);
    background: #161922;
}

.body__card__front{
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card__back{
    color: #fff;
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
    overflow: hidden;
}

.body__card__back p{
    margin-top: 5px;
    font-size: 15px;
}


/*-----------------------------------------------energy button------------------------------*/

.container__btn{
    
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
    color: #fff;
    z-index: 3;
}
.container__btn a:hover{
    transition-delay: 0s;
}

.container__btn a span{
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 100;
}

/*.container__btn a:nth-child(2){
    filter: hue-rotate(80deg);
}*/
.container__btn a::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #58B0F6;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.container__btn a:hover::before{
    bottom: 0;
    height: 50%;
    width: 100%;
    border-radius: 0 0 3px 3px ;
    transition-delay: 0s;
}

.container__btn a::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #58B0F6;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}
.container__btn a:hover::after{
    top: 0;
    height: 50%;
    width: 100%;
    border-radius: 3px 3px 0 0;
    transition-delay: 0s;
}
/*.container__btn a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #58B0F6;
    box-shadow: 5px -8px 0 #58B0F6,
                5px 8px 0 #58B0F6;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1, 0.5s, 0s, 0s;
}
.container__btn a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #58B0F6,
                5px 0 0 #58B0F6;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.container__btn a::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #58B0F6;
    box-shadow: -5px -8px 0 #58B0F6,
                -5px 8px 0 #58B0F6;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1, 0.5s, 0s, 0s;
}
.container__btn a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #58B0F6,
                -5px 0 0 #58B0F6;
    transition-delay: 0s, 0.5s, 1s, 1s;
}*/

.title__style__LS h2{
    font-family: 'League Spartan', sans-serif;
}
.title__style__LS{
    font-family: 'League Spartan', sans-serif;
}


