/*.go__top__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 85%;
    left: 50%;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go__top__btn{
    width: 50px;
    height: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go__top__btn i{
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%  ) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go__top__btn{
    animation: popup .3 ease-in-out;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 10;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

.hide__go__top__btn{
    opacity: 0;
    margin-left: -30px;

}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}

@keyframes popupH{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: -8rem;
        height: -8rem;
    }
    100%{
        width: -6.6rem;
        height: -6.6rem;
    }
}

@media screen and (max-width:992px) {
    .go__top__container{        
        width: 6.6rem;
        height: 6.6rem;
    }
}*/
