@import url('//db.onlinewebfonts.com/c/b207fae73e1bde668238f6d9d0598cc9?family=GT+Sectra+Display+Medium');
.fill:focus,
.fill:hover{
    box-shadow:inset 0 0 0 2em var(--hover)}

.pulse:focus,
.pulse:hover{
    -webkit-animation:pulse 1s;
    animation:pulse 1s;
    box-shadow:0 0 0 2em rgba(255,255,255,0)}

@-webkit-keyframes pulse{0%{box-shadow:0 0 var(--hover)}}

@keyframes pulse{0%{box-shadow:0 0 var(--hover)}}

.close:focus,
.close:hover{
    box-shadow:inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover)}


.raiseP:focus,
.raiseP:hover{
    box-shadow:0 .5em .5em -.4em var(--hover);
    -webkit-transform:translateY(-.50em);
    transform:translateY(-.50em)}

.up:focus,
.up:hover{box-shadow:inset 0 -3.25em 0 0 var(--hover)}

.slide:focus,
.slide:hover{box-shadow:inset 6.5em 0 0 0 var(--hover)}

.offset{box-shadow:.3em .3em 0 0 var(--color),
    inset .3em .3em 0 0 var(--color)}

.offset:focus,
.offset:hover{box-shadow:0 0 var(--hover),
    inset 6em 3.5em 0 0 var(--hover)}

.fill{--color:#ff8282;
    --hover:#ff8282}

.pulse{--color:#ef6eae;
    --hover:#ef8f6e}

.close{--color:#ff7f82;
    --hover:#ffdc7f}

.raiseP{
    --color:#ffa260;
    --hover:#e5ff60;
}

.up{--color:#e4cb58;
    --hover:#94e458}

.slide{--color:#8fc866;
    --hover:#66c887}

.offset{--color:#19bc8b;
    --hover:#1973bc}

button{color:var(--color);
    transition:.25s}

button:focus,button:hover{border-color:var(--hover);
    color:#fff}

/*body{color:#fff;
    background:#17181c;
    font:300 1em 'Fira Sans',sans-serif;
    justify-content:center;align-content:center;
    align-items:center;
    text-align:center;
    min-height:100vh;
    display:flex}*/

/*button{background:0 0;
    border:2px solid;
    font:inherit;line-height:1;
    margin:.5em;
    padding:1em 2em}*/

h1{font-weight:400}

code{color:#e4cb58;
    font:inherit}

containerDescargas{
    background-color: #151515;
}

.apps{
    font-size: 3.7rem;
}

.botonapps svg rect{
    stroke:#EC0033;
    stroke-width:4;
    stroke-dasharray:353,0;
    stroke-dashoffset:0;
    -webkit-transition:all 600ms ease;
    transition:all 600ms ease
}
.botonapps span{
    background:#ff8282;
    background:-moz-linear-gradient(right,#2c3e50, #bdc3c7 100%);
    background:-webkit-linear-gradient(right,#2c3e50, #bdc3c7 100%);
    background:linear-gradient(to left, #2c3e50, #bdc3c7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}




.boton:hover svg rect{stroke-width:4;stroke-dasharray:196,543;stroke-dashoffset:437}

/*.boton{text-align:center;
    text-transform:uppercase;
    background-color:transparent;
    cursor:pointer;
    text-decoration:none;
    font-family:Roboto,sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing:.045em}*/
.boton svg rect{
    stroke:#EC0033;
    stroke-width:4;
    stroke-dasharray:353,0;
    stroke-dashoffset:0;
    -webkit-transition:all 600ms ease;
    transition:all 600ms ease}

.boton span{
    background:#ff8282;
    background:-moz-linear-gradient(right,#ff0029, #D31027 100%);
    background:-webkit-linear-gradient(right, #ff0029, #D31027 100%);
    background:linear-gradient(to left, #ff0029, #D31027 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent}

.boton:hover svg rect{stroke-width:4;stroke-dasharray:196,543;stroke-dashoffset:437}
/* Pack botones #1*/
.button{position:relative;padding:0.5em 1.5em;border:none;background-color:transparent;outline:0;font-size:18px;margin:0.2em .8em}
.button.type1{color:#566473}
.button.type1.type1::after,.button.type1.type1::before{content:"";display:block;position:absolute;width:20%;height:20%;border:2px solid;transition:all .6s ease;border-radius:2px}
.button.type1.type1::after{bottom:0;right:0;border-color:transparent #566473 #566473 transparent}
.button.type1.type1::before{top:0;left:0;border-color:#566473 transparent transparent #566473}
.button.type1.type1:hover:after,.button.type1.type1:hover:before{width:100%;height:100%}

.button.type2{color:#EA384D}
.button.type2.type2:after,.button.type2.type2:before{
    content:"";
    display:block;
    position:absolute;
    top:100%;left:0;
    width:100%;
    height:2px;
    background:-moz-linear-gradient(right,#ff0029, #D31027 100%);
    background:-webkit-linear-gradient(right, #ff0029, #D31027 100%);
    background:linear-gradient(to left, #ff0029, #D31027 100%);
    transition:all .3s ease;
    transform:scale(0.85)}
.button.type2.type2:hover:before{top:0;transform:scale(1)}
.button.type2.type2:hover:after{transform:scale(1)}

.button.type3{color:#435a6b}
.button.type3.type3::after,.button.type3.type3::before{content:"";display:block;position:absolute;width:20%;height:20%;border:2px solid;transition:all .6s ease;border-radius:2px}
.button.type3.type3::after{bottom:0;right:0;border-color:transparent #435a6b #435a6b transparent}
.button.type3.type3::before{top:0;left:0;border-color:#435a6b transparent transparent #435a6b}
.button.type3.type3:hover:after,.button.type3.type3:hover:before{border-color:#435a6b;width:100%;height:100%}

/* Pack botones #2*/


/*.btnpack2:after,.btnpack2:before{content:'';position:absolute;transition:inherit;z-index:-1}
.btnpack2:hover{color:var(--def);transition-delay:.6s}
.btnpack2:hover:before{transition-delay:0s}
.btnpack2:hover:after{background:var(--inv);transition-delay:.4s}
.from-top1:after,.from-top:before{left:0;height:0;width:100%}
.from-top1:before{bottom:0;border:1px solid var(--inv);border-top:0;border-bottom:0}
.from-top1:after{top:0;height:0}
.from-top1:hover:after,.from-top:hover:before{height:100%}
.from-left:after,.from-left:before{top:0;width:0;height:100%}
.from-left:before{right:0;border:1px solid var(--inv);border-left:0;border-right:0}
.from-left:after{left:0}
.from-left:hover:after,.from-left:hover:before{width:100%}
.from-right:after,.from-right:before{top:0;width:0;height:100%}
.from-right:before{left:0;border:1px solid var(--inv);border-left:0;border-right:0}
.from-right:after{right:0}
.from-right:hover:after,.from-right:hover:before{width:100%}
.from-middle:before{top:0;left:50%;height:100%;width:0;border:1px solid var(--inv);border-left:0;border-right:0}
.from-middle:after{bottom:0;left:0;height:0;width:100%;background:var(--inv)}
.from-middle:hover:before{left:0;width:100%}
.from-middle:hover:after{top:0;height:100%}
.from-bottom:after,.from-bottom:before{left:0;height:0;width:100%}
.from-bottom:before{top:0;border:1px solid var(--inv);border-top:0;border-bottom:0}
.from-bottom:after{bottom:0;height:0}
.from-bottom:hover:after,.from-bottom:hover:before{height:100%}*/