
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.containerR span {
  font-size: 3.7rem;
  font-weight: bold;
  position: relative;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.containerR span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}
/*.containerR span::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 80%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}*/
.containerR span:hover {
  filter: contrast(250%);
}
.containerR span:nth-child(1) {
  color: #ff0029;
}
.containerR span:nth-child(2) {
  color: #ff0029;
}
.containerR span:nth-child(3) {
  color: #ff0029;
}
.containerR span:nth-child(4) {
  color: #ff0029;
}
.containerR span:nth-child(5) {
  color: #ff0029;
}
.containerR span:nth-child(6) {
  color: #ff0029;
}
.containerR span:nth-child(7) {
  color: #ff0029;
}
.containerR span:nth-child(8) {
  color: #ff0029;
}
.containerR span:nth-child(9) {
  color: #ff0029;
}
.containerR span:nth-child(10) {
  color: #ff0029;
}

@media (max-width:460px){
  .containerR span{
    font-size:xx-large;
  }
}



