{% extends "base.html" %}

{% load static %}

{% block content %}

<main>
    <div id="wrap">
        <div class="py-5 colorBlackP2">
            <header class="mt-5" style="margin-left: 100px;">

            </header>
            <div class="container__cards title__style__LS">
                <div class="__card text-light skill__box">
                    <div class="cover__card ">
                        <a id='refer' href="">
                            <img src="https://res.cloudinary.com/primalappsje/image/upload/v1648886043/primal/LogoLooper_zkleoq.png"
                                alt="">
                        </a>
                    </div>
                    <h2>Looper</h2>
                    <p>Esta aplicación tiene como objetivo automatizar el envío de multiples mensajes en una entrada de
                        texto.</p>
                    <hr>
                    <div class="footer__card"></div>
                    <h3 class="user__name"></h3>
                    <i>tutorial</i>
                </div>
                <div class="__card text-light skill__box">
                    <div class="cover__card">
                        <img src="" alt="">
                    </div>
                    <h2>Próximamente</h2>
                    <p>Desarrollo freelance de todo tipo de aplicaciones web, móviles y de escritorio.</p>
                    <hr>
                    <div class="footer__card"></div>
                    <h3 class="user__name"></h3>
                    <i>tutorial</i>
                </div>
                <div class="__card text-light skill__box">
                    <div class="cover__card">
                        <div class="cover__card">
                            <img src="" alt="">
                        </div>
                        <h2>Próximamente</h2>
                        <p>Desarrollo freelance de todo tipo de aplicaciones web, móviles y de escritorio.</p>
                        <hr>
                        <div class="footer__card"></div>
                        <h3 class="user__name"></h3>
                        <i>tutorial</i>
                    </div>
                </div>
            </div>
        </div>
        <section class="colorBlackP mb-0">
            <div class="container">
                <div class="text-white mb-1 fw-bold botonapps containerText" style="font-size: 3.7rem;" id="text__p__3">
                    <div class="letras__primal__s" style="z-index: 1;" id="wrap">
                        <p>El que tiene mis mandamientos, y los guarda, ese es el que me ama; y el que me ama, será
                            amado por mi Padre, y yo le amaré, y me manifestaré a él.</p>
                        <span>-Juan 14:21</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}