{% extends "base.html" %}

{% load static %}

{% block content %}

<main class="jsx-bd2840c2350f1fb2">
    <div class="py-5 colorBlackP2">
        <header class="mt-5" style="margin-left: 100px;">
            <h2 class="h6 text-light">
                <span class="me-1">2</span>
                Descargas
            </h2>
            
        </header>
        <div class="container__cards">
            <div class="__card text-light">
                <div class="cover__card ">
                    <a id='refer' href="">
                        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1648886043/primal/LogoLooper_zkleoq.png" alt="">
                    </a>    
                </div>
                <h2>Looper</h2>
                <p>Esta aplicación tiene como objetico automatizar el envío de multiples mensajes en una entrada de texto.</p>
                <hr>
                <div class="footer__card"></div>
                <h3 class="user__name"></h3>
                <i>tutorial</i>
            </div>
            <div class="__card text-light">
                <div class="cover__card">
                    <div class="cover__card">
                        <img src="img/computer-solid.svg" alt="">
                    </div>
                </div>
                    <h2>Próximamente</h2>
                    <p>Desarrollo freelance de todo tipo de aplicaciones web, móviles y de escritorio.</p>
                    <hr>
                    <div class="footer__card"></div>
                    <h3 class="user__name"></h3>
                    <i>tutorial</i>
                
            </div>
            <div class="__card text-light">
                <div class="cover__card">
                    <div class="cover__card">
                        <img src="img/computer-solid.svg" alt="">
                    </div>
                    <h2></h2>
                    <hr>
                    <div class="footer__card"></div>
                    <h3 class="user__name"></h3>
                    <i></i>
                </div>
            </div>
        </div>   
    </div>
        <section class="colorBlackP">
            <div class="container__cardsI">
                <div class="container__background-f1">
                    <div class="figura f1"></div>
                    <div class="figura f2"></div>
                    <div class="figura f3"></div>
                </div>
            </div>
                <div class="container__cardsI">
                    <div class="__cardI">
                        <div class="cover__cardI">
                            <img src="{% static 'img/8712648_computer_monitor_pc_icon.png' %}" alt="">
                        </div>
                    </div>
                    <div class="__cardI">
                        <div class="cover__cardI">
                            <img src="{% static 'img/8712668_mobile_phone_icon.png' %}" alt="">
                        </div>
                    </div>
                    <div class="__cardI">
                        <div class="cover__cardI">
                            <img src="{% static 'img//8712641_minecraft_icon.png' %}" alt="">
                        </div>
                    </div>
                </div>                                         
        </section>  
</main>     

{% endblock %}