
{% extends "base.html" %}

{% load static %}

{% block content %}
<!--style="height: 752px;
    background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1649225165/primal/pexels-daniel-eliashevsky-6942359_rdzuut.jpg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            margin-right: auto!important;
            margin-left: auto!important;" id="home"-->
            
<main class="jsx-bd2840c2350f1fb2" >
    
    <!--<section class="__body_parallax __section">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721537/primal/1_ablxfj.png" data-speed="-5" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/2_bwqo8m.png" data-speed="5" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721537/primal/3_pvrhqx.png" data-speed="2" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/4_pvp4od.png" data-speed="6" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721537/primal/5_veplld.png" data-speed="8" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721537/primal/6_sxo5mf.png" data-speed="-2" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/7_wg1jbu.png" data-speed="4" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/8_esg30e.png" data-speed="-9" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/9_nzsgcy.png" data-speed="6" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/10_be3bpc.png" data-speed="-7" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/11_opj4zt.png" data-speed="-5" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/12_yr8ehk.png" data-speed="5" class="layer" alt="">
        <h2 class="__layer" data-speed="2">Primal Web</h2>     
    </section>-->

    

    <section class="colorP py-4 __section" style="height:760px;">  
        

        <!--<img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721537/primal/1_ablxfj.png" data-speed="-5" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721537/primal/3_pvrhqx.png" data-speed="2" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/4_pvp4od.png" data-speed="6" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/8_esg30e.png" data-speed="-9" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/10_be3bpc.png" data-speed="-7" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/11_opj4zt.png" data-speed="-5" class="layer" alt="">
        <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649721538/primal/12_yr8ehk.png" data-speed="5" class="layer" alt="">-->         

        <div class="container py-5" style="margin-top: 120px; overflow: hidden;">
            <div class="text-white mb-1 fw-bold botonapps containerText">
                <div class="letras__primal">Primal
                    <span class="ms-1"> Web</span>
                    
                </div>
            </div> 
            <div>
                <div class="containerR mb-4 " style="text-align: center;">
                    <span style="--l: '¡B';">¡B</span>
                    <span style="--l: 'i';">i</span>
                    <span style="--l: 'e';">e</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 'v';">v</span>
                    <span style="--l: 'e';">e</span>
                    <span style="--l: 'n';">n</span>
                    <span style="--l: 'i';">i</span>
                    <span style="--l: 'd';">d</span>
                    <span style="--l: 'o!';">o!</span>
                </div> 
            </div>
            
            <div class="textoW2_c textoW2 botonapps__">          
                <span class="auto_type"></span>
            </div>
            
                  
        </div>   

        <div class="mouse__scroll__section">
            <a href="#next" class="mouse__scroll"></a>
        </div> 

    </section>

    <section class="colorBlackP" id="next">
        <div class="botonapps containerText" id="text__p__1">
            <div class="letras__primal__s" style="z-index: 1;" id="wrap">
                <p>A little Christian boy.</p> 
                <span>-JS</span>
            </div>
        </div> 
        
        <!--<div class="container__cardsI">
            <div class="container__background-f1">
                <div class="figura f1" id="element_uno"></div>
                <div class="figura f2" id="element_dos"></div>
                <div class="figura f3" id="element_tres"></div>
            </div>
        </div>
        <div class="container__cardsI" >
            <div class="__cardI" id="card__1">
                <div class="cover__cardI">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649716981/primal/8703969_computer_desktop_monitor_screen_icon_okdaik.png" alt="">
                </div>
            </div>
            <div class="__cardI" id="card__2">
                <div class="cover__cardI">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649693912/primal/8703973_mobile_phone_smartphone_device_icon_dekcwp.png" alt="">
                </div>
            </div>
            <div class="__cardI" id="card__3">
                <div class="cover__cardI">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649716981/primal/8712591_minecraft_icon_irjgz4.png" alt="">
                </div>
            </div>
        </div>-->    
    </section>
    <section style="height: auto;
            background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1649430531/primal/pexels-alex-conchillos-3745234_1_r61f3b.jpg);
                    background-size: cover;
                    background-repeat:no-repeat;
                    background-position: center center;
                    margin-right: auto!important;
                    margin-left: auto!important;"
                    class="__section">
                    
                    <div class="container py-5 ">
                        
                        <div class="container_parallax_1 border-bottom">
                            <div class="__parallax_1" id="img__1">                             
                                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649761604/primal/8703957_heart_love_like_icon_eqcdoz.png" alt="" class="layer" data-speed="-2" id="element_one">
                            </div>
                            <div class="container__text" id="text__1">
                                <p class="__text">En esto consiste el amor: no en que nosotros hayamos amado a Dios, sino en que él nos amó y envió a su Hijo para que fuera ofrecido como
                                    sacrificio por el perdón de nuestros pecados.
                                </p>
                                <span class="__text">- 1 Juan 4:10</span>
                            </div>
                        </div>      
                        <div class="container_parallax_2 py-5 border-bottom" >
                            <div class="container__text" id="text__2">
                                <p class="__text">Ya conocen la gracia de nuestro Señor Jesucristo, que, aunque era rico, por causa de ustedes se hizo pobre, para que mediante su pobreza ustedes llegaran a ser ricos.</p>
                                <span class="__text">- 2 Corintios 8:9</span>
                            </div>
                            <div class="__parallax_2" id="img__1"> 
                                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649761628/primal/8721579_flame_fire_burn_icon_djdnpb.png" alt="" class="layer" data-speed="2" id="element_two">
                            </div>
                            
                        </div> 
                    </div>
                     
            </section>
            
            <section class="colorBlackP">
                <div class="container">
                    <div class="botonapps containerText" id="text__p__2">
                        <div class="letras__primal__s" style="z-index: 1;" id="wrap">
                            <p>Y oiréis de guerras y rumores de guerras; pero no se dejen llevar por el pánico, porque es necesario que todo esto acontezca; pero aún no es el fin.</p> 
                            <span>-Mateo 24:6</span>
                        </div>
                    </div> 
                </div>
            </section>
            <section class="section__text__parallax">
                <div class="__text__parall padding_section">
                    <h2 style="--i:0.5"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:1.5"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:2.5"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:2.25"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:1.25"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:0.75"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:3"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:0.35"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2>
                    <h2 style="--i:2.35"><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span><span>Primal Web</span><span>Primal Web</span>
                        <span>Primal Web</span><span>Primal Web</span></h2> 
                </div>
            </section>
            <!--<section class="__container_mouse">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </section>-->
        
</main>

{% endblock %}