
{% extends "base.html" %}

{% load static %}

{% block content %}

<main class="jsx-bd2840c2350f1fb2" style="z-index: 0;">
    <section class="colorP2 py-4" style="height: 752px;
    background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1649225165/primal/pexels-daniel-eliashevsky-6942359_rdzuut.jpg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            margin-right: auto!important;
            margin-left: auto!important;">  
                             
        <div class="container py-5" style="margin-top: 120px; ">
                <div class="text-white mb-1 fw-bold botonapps containerText" style="font-size: 3.7rem;">
                    <div>Primal
                        <span class="ms-1"> Web</span>
                    </div>
                </div>

                    

                <div>
                    <div class="containerR mb-4 " style="text-align: center;">
                        <span style="--l: '¡B';">¡B</span>
                        <span style="--l: 'i';">i</span>
                        <span style="--l: 'e';">e</span>
                        <span style="--l: 'n';">n</span>
                        <span style="--l: 'v';">v</span>
                        <span style="--l: 'e';">e</span>
                        <span style="--l: 'n';">n</span>
                        <span style="--l: 'i';">i</span>
                        <span style="--l: 'd';">d</span>
                        <span style="--l: 'o!';">o!</span>
                    </div> 
                </div>
                <div>
                    <div class="botonapps" style="font-size: 1.4rem;">
                        <span id="textWriter4" class="textoW2" style="border-color: white;"></span>
                    </div>                                                 
                </div>
                     
        </div>
    </section>
    <section class="colorBlackP">
        <div class="container__cardsI">
            <div class="container__background-f1">
                <div class="figura f1"></div>
                <div class="figura f2"></div>
                <div class="figura f3"></div>
            </div>
        </div>
            <div class="container__cardsI">
                <div class="__cardI">
                    <div class="cover__cardI">
                        <img src="{% static 'img/8712648_computer_monitor_pc_icon.png' %}" alt="">
                    </div>
                </div>
                <div class="__cardI">
                    <div class="cover__cardI">
                        <img src="{% static 'img/8712668_mobile_phone_icon.png' %}" alt="">
                    </div>
                </div>
                <div class="__cardI">
                    <div class="cover__cardI">
                        <img src="{% static 'img//8712641_minecraft_icon.png' %}" alt="">
                    </div>
                </div>
            </div>                      
        
    </section>
    <section class="colorP2 py-4" style="height: 752px;
    background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1649430531/primal/pexels-alex-conchillos-3745234_1_r61f3b.jpg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            margin-right: auto!important;
            margin-left: auto!important;">
        <div class="container py-5">
            
                 
        </div>
        
    </section>
</main>

{% endblock %}