
{% extends "base.html" %}

{% load static %}

{% block content %}

<main class="jsx-bd2840c2350f1fb2" style="z-index: 0;">
    <section class="colorP2 py-4" style="height: 752px;
    background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1649225165/primal/pexels-daniel-eliashevsky-6942359_rdzuut.jpg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center center;
            margin-right: auto!important;
            margin-left: auto!important;">  
                             
        <div class="container py-5" style="margin-top: 120px; ">
                <div class="text-white mb-1 fw-bold botonapps containerText" style="font-size: 3.7rem;">
                    <div>Primal
                        <span class="ms-1"> Web</span>
                    </div>
                </div>

                    

                <div>
                    <div class="containerR mb-4 " style="text-align: center;">
                        <span style="--l: '¡B';">¡B</span>
                        <span style="--l: 'i';">i</span>
                        <span style="--l: 'e';">e</span>
                        <span style="--l: 'n';">n</span>
                        <span style="--l: 'v';">v</span>
                        <span style="--l: 'e';">e</span>
                        <span style="--l: 'n';">n</span>
                        <span style="--l: 'i';">i</span>
                        <span style="--l: 'd';">d</span>
                        <span style="--l: 'o!';">o!</span>
                    </div> 
                </div>
                <div>
                    <div class="botonapps" style="font-size: 1.4rem;">
                        <span id="textWriter4" class="textoW2" style="border-color: white;"></span>
                    </div>                                                 
                </div>
                     
        </div>
    </section>
    <section class="colorBlackP">
        <div class="container__cardsI">
            <div class="container__background-f1">
                <div class="figura f1" id="element_uno"></div>
                <div class="figura f2" id="element_dos"></div>
                <div class="figura f3" id="element_tres"></div>
            </div>
        </div>
        <div class="container__cardsI">
            <div class="__cardI">
                <div class="cover__cardI">
                    <i class="fa-solid fa-desktop"></i>
                </div>
            </div>
            <div class="__cardI">
                <div class="cover__cardI">
                    <i class="fa-solid fa-mobile-screen"></i>
                </div>
            </div>
            <div class="__cardI">
                <div class="cover__cardI">
                    <i class="fa-solid fa-gamepad"></i>
                </div>
            </div>
        </div>                        
        
    </section>
    <section style="height: auto;
            background-image: url(https://res.cloudinary.com/primalappsje/image/upload/v1649430531/primal/pexels-alex-conchillos-3745234_1_r61f3b.jpg);
                    background-size: cover;
                    background-repeat:no-repeat;
                    background-position: center center;
                    margin-right: auto!important;
                    margin-left: auto!important;"
                    >
                    <div class="container py-5 ">
                        <div class="container_parallax_1 border-bottom">
                            <div class="__parallax_1">                             
                                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649693911/primal/8888893_dollar_struck_icon_nfgtnl.png" alt="" id="element_one">
                            </div>
                            <div class="container__text">
                                <p class="__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quibusdam assumenda, voluptatum fugiat quae praesentium et, dolores illo dicta minima harum nobis ipsa quis dignissimos sunt fuga? Inventore, sed aliquid</p>
                            </div>
                        </div>      
                        <div class="container_parallax_2 py-5 border-bottom">
                            <div class="container__text">
                                <p class="__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quibusdam assumenda, voluptatum fugiat quae praesentium et, dolores illo dicta minima harum nobis ipsa quis dignissimos sunt fuga? Inventore, sed aliquid</p>
                            </div>
                            <div class="__parallax_2"> 
                                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1649693911/primal/8712571_puzzle_puzzle_piece_strategy_icon_k7okgp.png" alt="" id="element_two">
                            </div>
                            
                        </div> 
                    </div>
                     
            </section>
</main>

{% endblock %}